*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  height: 50px;
  background: #000000ea;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex: 1;
  display: flex;
}

.container > * {
  padding: 24px;
}

.main-content {
  flex: 1;
  background: rgb(222, 220, 220);
}
.left-sidebar {
  width: 200px;
  background: rgb(245, 208, 214);
}

.right-sidebar {
  width: 200px;
  background: rgb(147, 196, 245);
}

@media only screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .left-sidebar,
  .right-sidebar {
    width: 100%;
    padding: 24px;
  }
}
