*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.carousel-img {
  width: 100%;
  height: 100%;
}

.carousel-btn {
  all: unset;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-btn > * {
  stroke: #fff;
  fill: #000;
  width: 2.4rem;
  height: 2.4rem;
}

.carousel-btn:hover {
  scale: 1.1;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}
